body {
  margin: auto 0;
  background-color: #f8f5f2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  margin-top: 0;
  padding: 2px 16px;
  color: whitesmoke;
  font-size: 30px;
}

.contentContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.5em auto;
}

.header {
  position: fixed;
  display: flex;
  grid-row: 1/2;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  background-color: black;
  margin: 0px;
  height: 2.5em;
}
.searchBar {
  display: flex;
  float: left;
  justify-content: center;
}

#search:focus {
  outline: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.textboxHome {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
  line-height: 3px;
  border: 2px solid white;
  background-color: #232323;
  color: white;
}
.textbox {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
  line-height: 3px;
  border: 2px solid white;
  background-color: #232323;
  color: white;
}
.title {
  border-radius: 10px;
  padding: 25px 20px;
  line-height: 10px;
  background-color: #232323;
  color: white;
  background-color: #232323;
  margin-bottom: 10px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  align-self: center;
  border-radius: 10px;
  border: 4px solid white;
  padding: 4px 16px;
  margin-bottom: 10px;
}
.buttons:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
  border: 4px solid whitesmoke;
}

.movieDisplayContainer {
  grid-row: 2/3;
  width: 100vw;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  text-align: center;
  border: #232323;
  row-gap: 1em;
}

.logOutBtn {
  justify-content: center;
  width: 100px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 3px 15px;
  margin: 5px 30px;
  color: white;
  background-color: rgb(43, 42, 42);
}
.logOutBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 4px solid whitesmoke;
}

.movieTile {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.8fr 1fr;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.likeButton {
  display: absolute;
  width: 25px;
  height: 25px;
}

.movieTitle {
  grid-row: 2/3;
  word-wrap: break-word;
}

.moviePosterImg {
  width: 100%;
  height: auto;
  grid-row: 1/2;
  position: absolute;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
